             <!--
              La estructura de un for es la vista en el código de abajo *ngFor="let elemento of elementos; let i = index"

             @Input sirve para pasar información de una clase padre a una clase hija. En este caso, como la clase Appcomponent es la raiz del proyecto, es la
              considerada padre 
              -->
            
            <app-persona 
            *ngFor="let personaElemento of personas; let i = index"
            [persona] = "personaElemento"
            [indice] = "i"
            >  
            </app-persona>


          <!--El flujo que sigue la variable [persona] es el siguiente:
               
              1.- Se ha declarado en la clase Persona como @Input() persona: Persona
      
              2.- Como el arreglo de personas está en la clase Appcomponent, que es la clase padre, en el html de appcomponent se itera el arreglo de personas. 
                Ahí, es donde empieza a comunicar cada elemento del arreglo de personas a la clase hija Persona, como puede verse en el código de abajo.

              3.- Por último, en el html de Persona, se accede a la variable @Input() persona: Persona , usando {{persona.nombre}} {{persona.apellido}}-->
