<div class="container">
    <div class="row">
        <div class="col">
            <h1>Listado de Personas:</h1>
            
            <!--[Property binding] Para habilitar y deshabilitar propiedades como
                en este caso 'disabled' en elementos html, se le envuelve en corchetes 
                y se le asigna el atributo booleano  en la clase personas 'deshabilitar', 
                transfiriendole el valor de true o false-->
            
            <!--(Event binding) En este caso capturamos el evento click para asignarle 
                el método que queramos en la clase de personas typescript-->

            <button class='btn btn-primary' 
            [disabled]='deshabilitar'
            (click)='agregarPersona()'>Agregar Persona</button>
            <p *ngIf="mostrar; else sinPersona">{{mensaje}} con el título de {{titulo}}</p>
            <ng-template #sinPersona>
                <p>No se ha agregado ninguna persona</p>
            </ng-template>
            
            <app-persona></app-persona>

            <!--Aquí se usan los dos conceptos, Property binding y Event binding
            
                Con [(ngModel)]="titulo", estamos asignando lo escrito en el input
                al atributo titulo de la clase personas y viceversa.

                Es decir, el valor del atributo titulo se verá reflejado en el input
                
            -->

            <label>Título Persona</label>
            <input type='text' class='form-control' 
                [(ngModel)]="titulo">
            
            <p>
                {{titulo}}
            </p>
            <!--
            
            Cada vez que se escribe una letra en el input que 
            acompaña a la etiqueta Titulo Persona, se manda a llamar
            el método modificarTitulo
            
            <label>Título Persona</label>
            <input type='text' class='form-control' 
                (input)='modificarTitulo($event)'>
            {{titulo}}
            
            -->
        </div>
    </div>
</div>

