<div class="container">
    <div class="row">
        <div class="col">
            <h1>Listado de Personas:</h1>
            
            <!--[Property binding] Para habilitar y deshabilitar propiedades como
                en este caso 'disabled' en elementos html, se le envuelve en corchetes 
                y se le asigna el atributo booleano  en la clase personas 'deshabilitar', 
                transfiriendole el valor de true o false-->
            
            <!--(Event binding) En este caso capturamos el evento click para asignarle 
                el método agregarPersoa() de la clase de personas typescript-->

            <button class='btn btn-primary' 
            [disabled]='deshabilitar'
            (click)='agregarPersona()'>Agregar Persona</button>
            
            
            
            
            
            <!--Dentro de las etiquetas podemos usar el if y else de esta manera: 
               *ngIf=Condición; else OcurreEsto

            Si se cumple la condición, muestra el contenido de la etiqueta p que es {{mensaje}}, las palabras que hay dentro de {{}} referencian atributos de la clase
            , en este caso personas.component.ts

            Si no se cumple la condición, hemos pasado el identificador #sinPersona de la etiqueta <ng-template #sinPersona>, para que nos muestre su contenido,
                en este caso, el parrafo que hay dentro-->
            
            <p *ngIf="mostrar; else sinPersona">{{mensaje}} con el título de {{titulo}}</p>
            <ng-template #sinPersona>
                <p>No se ha agregado ninguna persona</p>
            </ng-template>
            
            
            
            
            
            
            <!--Las etiquetas como esta, <app-persona></app-persona>, muestran el contenido que tiene el html de ese componente, es decir
            si en el  html de persona, hay un párrafo, lo que nos mostraría sería un parrajo al visualizarlo en el navegador. -->
 
            <app-persona></app-persona>
            
            
            
            
            

            <!--Aquí se usan los dos conceptos, Property binding y Event binding
            
                Con [(ngModel)]="titulo", estamos asignando lo escrito en el input
                al atributo titulo de la clase personas y viceversa.

                Es decir, el valor del atributo titulo se verá reflejado en el input
                
            -->

            <label>Título Persona</label>
            <input type='text' class='form-control' 
                [(ngModel)]="titulo">
            
            <p>
                {{titulo}}
            </p>
            <!--
            
            Cada vez que se escribe una letra en el input que 
            acompaña a la etiqueta Titulo Persona, se manda a llamar
            el método modificarTitulo
            
            <label>Título Persona</label>
            <input type='text' class='form-control' 
                (input)='modificarTitulo($event)'>
            {{titulo}}
            
            -->
            
            <app-persona 
            *ngFor="let personaElemento of personas; let i = index"
            [persona] = "personaElemento"
            [indice] = "i"
            >  
            </app-persona>
            
        </div>
    </div>
</div>

